@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Orbit&display=swap");

body {
  background-color: #dbdfe0;
  font-family: "Kanit", sans-serif;
  font-family: "Orbit", sans-serif;
}

/* Radio-Button-Customizing Start */
.box-radio-input input[type="checkbox"] {
  display: none;
}
.box-radio-input input[type="checkbox"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #ababab;
  border-radius: 30px;
  padding: 0px 15px;
  margin: 0px 3px 3px;
  text-align: center;
  height: 32px;
  line-height: 33px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
}

.box-radio-input input[type="checkbox"]:checked + span {
  border: 1px solid #dbdfe0;
  background: #2699ea;
  color: #fff;
}
/* Radio-Button-Customizing End */

/* filter Custum Start */
.filter-title {
  margin-right: 20px;
  font-size: 0.8rem;
  font-weight: 700;
}
/* filter Custum End */

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ababab;
}

/* TopCategory Clicked & UnClicked */
.normalBtn {
  background-color: transparent;
}
.clickedBtn {
  background-color: transparent;
  border: 2px solid #2699ea;
  pointer-events: none;
}
